<h2>Créditos</h2>
<div>Autor: Alberto Jiménez Palomas. <a href="licenses/gescares.txt" target="_blank">Licencia MIT</a></div>
<h3>Herramientas utilizadas</h3>
<div>
	<a href="https://nodejs.org/" target="_blank">node.js</a>
	<a href="licenses/node.txt" target="_blank">Licencia</a>
</div>
<div>
<a href="https://github.com/expressjs/body-parser" target="_blank">body-parser</a>
<a href="licenses/body-parser.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="https://github.com/expressjs/cookie-parser" target="_blank">cookie-parser</a>
<a href="licenses/cookie-parser.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="https://github.com/visionmedia/debug" target="_blank">debug</a>
</div>
<div>
<a href="https://github.com/visionmedia/ejs" target="_blank">ejs</a>
</div>
<div>
<a href="http://expressjs.com/" target="_blank">express</a>
<a href="licenses/express.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="https://github.com/publicclass/express-partials" target="_blank">express-partials</a>
</div>
<div>
<a href="https://github.com/expressjs/method-override" target="_blank">method-override</a>
<a href="licenses/method-override.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="https://github.com/expressjs/morgan" target="_blank">morgan</a>
<a href="licenses/morgan.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="https://github.com/expressjs/multer#readme" target="_blank">multer</a>
<a href="licenses/multer.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="http://github.com/brianc/node-postgres" target="_blank">pg</a>
Licencia MIT
</div>
<div>
<a href="https://github.com/scarney81/pg-hstore" target="_blank">pg-hstore</a>
<a href="licenses/pg-hstore.txt" target="_blank">Licencia</a>
</div>
<div>
<a href="https://github.com/sequelize/sequelize" target="_blank">sequelize</a>
<a href="licenses/sequelize.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="https://github.com/expressjs/serve-favicon" target="_blank">serve-favicon</a>
<a href="licenses/serve-favicon.txt" target="_blank">Licencia MIT</a>
</div>
<div>
<a href="http://github.com/mapbox/node-sqlite3" target="_blank">sqlite3</a>
<a href="licenses/sqlite3.txt" target="_blank">Licencia</a>
</div>
<div>
	<a href="https://www.npmjs.com/package/log" target="_blank">log - derivado</a>
	<a href="licenses/log.txt" target="_blank">Licencia MIT</a>
</div>
