<!-- hardcoded examples. TODO retrieve data from controller, move styles to CSS -->
<style>
	li{
		display:inline;
		background-color: grey;
		color: white;
		padding: 5px 10px;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
	}
	.label{
		background-color: grey;
		color: white;
		padding: 5px 10px;
		text-decoration: none;
		border-radius: 4px 4px 0 0;
	}
</style>
<% if (dishId === '1') { %>
	<h1>Canelones a la boloñesa</h1>
	<div class='image'>
		<a data-flickr-embed="true"
		   href="https://www.flickr.com/photos/rafelmiro/8439580201/" 
		   title="Canelons">
			<img src="https://farm9.staticflickr.com/8078/8439580201_5a78f9137b_k.jpg"
				 width="640" height="480" alt="Canelons">
		</a>
	</div>
	<div class='dishData'>
		<div class='dishType'><strong>Tipo </strong>Primer plato</div>
		<div class='dishCategories'>
			<strong>Categorias</strong>
			<ul style='display:inline'>
				<li class="label">Pasta</li>
				<li class="label">Carne</li>
			</ul>
		</div>
		<div class='dishDescription'>
			<strong>Descripción</strong>
			<p>Receta tradicional italiana, rollos de pasta rellenos de carne picada y tomate</p>
		</div>
		<div class='dishComponents'>
			<strong>Componentes</strong>
			<ul>
				<li>Pasta</li>
				<li>Carne picada de ternera</li>
				<li>Tomate</li>
				<li>Polvo de setas</li>
				<li>Nuez moscada</li>
				<li>Orégano</li>
				<li>Albahaca</li>
				<li>Sal</li>
			</ul>
		</div>
		<div class='dishGallery'>
			<strong style='display:block'>Galería</strong>
			<a data-flickr-embed="true"
			   href="https://www.flickr.com/photos/rafelmiro/8439580201/" 
		       title="Canelons">
				<img src="https://farm9.staticflickr.com/8078/8439580201_5a78f9137b_k.jpg"
				     width="240" height="180" alt="Canelons">
			</a>
		</div>
		<div class='dishAllergenics'>
			<strong>Alérgenos</strong>
			<ul>
				<li>Nuez moscada</li>
				<li>Orégano</li>
			</ul>
		</div>
		<div class='dishPricing'>
			<strong>Precios</strong>
			<dl>
				<dt>Base</dt>
				<dd>8.95€</dd>
				<dt>Añadido de tomate</dt>
				<dd>+0.45€</dd>
			</dl>
		</div>
	</div>
<% } %>
<% if (dishId === '4') { %>
	<h1>Pollo asado</h1>
	<div class='image'>
		<a data-flickr-embed="true"
		   href="https://www.flickr.com/photos/xurde/3324946746/in/photolist-64PdQ3-bzSFax-bzSF5x-bmXQmu-bYHTB7-3KuSy-3KuS9-For9C-j52gDm-5re19j-64PbDb-6b55qT-7s277X-aVrqWR-6tTBpo-5CrLG6-4Lz3TV-4Lz3gX-2Rpgas-6tPsuH-5wUqBo-3ivLu4-ForKr-For8Q-5XjuEZ-71j8Je-7k3WLm-6AgGnz-5nw26N-qGHNJe-qZ9FHH-bpu6tb-bpu6Kd-56LkSw-5wR4A4-5nT6ZB-5QWYwn-6KXm6w-7uBEy2-4nQ5ZZ-tkxBr-611Y4y-5ZWKuX-5ZWKEc-5ZWKmF-6PtBGH-nWqnN-6A835P-6JtQkY-7v8GaL" 
		   title="pollo asado con verdura salteada">
			<img src="https://farm4.staticflickr.com/3552/3324946746_b7fe4105dc_b.jpg" 
				 width="640" height="480" alt="pollo asado con verdura salteada">
		</a>
	</div>
	<div class='dishData'>
		<div class='dishType'><strong>Tipo </strong>Segundo plato</div>
		<div class='dishCategories'>
			<strong>Categorias</strong>
			<ul style='display:inline'>
				<li class="label">Carne</li>
				<li class="label">Asado</li>
			</ul>
		</div>
		<div class='dishDescription'>
			<strong>Descripción</strong>
			<p>Pollo asado en un asador rotatorio acompañado de verdura salteada</p>
		</div>
		<div class='dishComponents'>
			<strong>Componentes</strong>
			<ul>
				<li>Pollo</li>
				<li>Limón</li>
				<li>Tomillo</li>
				<li>Romero</li>
				<li>Cebolla</li>
				<li>Puerro</li>
				<li>Pimiento</li>
			</ul>
		</div>
		<div class='dishGallery'>
			<strong style='display:block'>Galería</strong>
			<a data-flickr-embed="true"
			   href="https://www.flickr.com/photos/xurde/3324946746/in/photolist-64PdQ3-bzSFax-bzSF5x-bmXQmu-bYHTB7-3KuSy-3KuS9-For9C-j52gDm-5re19j-64PbDb-6b55qT-7s277X-aVrqWR-6tTBpo-5CrLG6-4Lz3TV-4Lz3gX-2Rpgas-6tPsuH-5wUqBo-3ivLu4-ForKr-For8Q-5XjuEZ-71j8Je-7k3WLm-6AgGnz-5nw26N-qGHNJe-qZ9FHH-bpu6tb-bpu6Kd-56LkSw-5wR4A4-5nT6ZB-5QWYwn-6KXm6w-7uBEy2-4nQ5ZZ-tkxBr-611Y4y-5ZWKuX-5ZWKEc-5ZWKmF-6PtBGH-nWqnN-6A835P-6JtQkY-7v8GaL" 
			   title="pollo asado con verdura salteada">
				<img src="https://farm4.staticflickr.com/3552/3324946746_b7fe4105dc_b.jpg" 
					 width="240" height="180" alt="pollo asado con verdura salteada">
			</a>
		</div>
		<div class='dishAllergenics'>
			<strong>Alérgenos</strong>
			<ul>
				<li>Tomillo</li>
			</ul>
		</div>
		<div class='dishPricing'>
			<strong>Precios</strong>
			<dl>
				<dt>Base</dt>
				<dd>12.45€</dd>
				<dt>Guarnición de patatas</dt>
				<dd>+0.95€</dd>
			</dl>
		</div>
	</div>
<% } %>

