<!-- hardcoded examples. TODO retrieve data from controller -->
<% if (dishId === '1') { %>
	<h1>Canelones a la boloñesa</h1>
	<div class='image'>
		<a data-flickr-embed="true"
		   href="https://www.flickr.com/photos/rafelmiro/8439580201/" 
		   title="Canelons">
			<img src="https://farm9.staticflickr.com/8078/8439580201_5a78f9137b_k.jpg"
				 alt="Canelons">
		</a>
	</div>
	<div class='dishData'>
		<div class='dishType'><strong>Tipo </strong>Primer plato</div>
		<div class='dishCategories'>
			<strong>Categorias</strong>
			<ul>
				<li class="tag">Pasta</li>
				<li class="tag">Carne</li>
			</ul>
		</div>
		<div class='dishDescription'>
			<strong>Descripción</strong>
			<p>Receta tradicional italiana, rollos de pasta rellenos de carne picada y tomate</p>
		</div>
		<div class='dishComponents'>
			<strong>Componentes</strong>
			<ul>
				<li class="tag">Pasta</li>
				<li class="tag">Carne picada de ternera</li>
				<li class="tag">Tomate</li>
				<li class="tag">Polvo de setas</li>
				<li class="tag">Nuez moscada</li>
				<li class="tag">Orégano</li>
				<li class="tag">Albahaca</li>
				<li class="tag">Sal</li>
			</ul>
		</div>
		<div class='dishAllergenics'>
			<strong>Alérgenos</strong>
			<ul>
				<li class="tag">Nuez moscada</li>
				<li class="tag">Orégano</li>
			</ul>
		</div>
		<div class='dishPricing'>
			<strong>Precios</strong>
			<div>
				<span>Base</span>
				<span>8.95€</span>
			</div>
			<div>
				<span>Añadido de tomate</span>
				<span>+0.45€</span>
			</div>
		</div>
		<div class='dishGallery'>
			<strong>Galería</strong>
			<a data-flickr-embed="true"
			   href="https://www.flickr.com/photos/rafelmiro/8439580201/" 
		       title="Canelons">
				<img src="https://farm9.staticflickr.com/8078/8439580201_5a78f9137b_k.jpg"
				     alt="Canelons">
			</a>
		</div>
	</div>
<% } %>
<% if (dishId === '4') { %>
	<h1>Pollo asado</h1>
	<div class='image'>
		<a data-flickr-embed="true"
		   href="https://www.flickr.com/photos/xurde/3324946746/in/photolist-64PdQ3-bzSFax-bzSF5x-bmXQmu-bYHTB7-3KuSy-3KuS9-For9C-j52gDm-5re19j-64PbDb-6b55qT-7s277X-aVrqWR-6tTBpo-5CrLG6-4Lz3TV-4Lz3gX-2Rpgas-6tPsuH-5wUqBo-3ivLu4-ForKr-For8Q-5XjuEZ-71j8Je-7k3WLm-6AgGnz-5nw26N-qGHNJe-qZ9FHH-bpu6tb-bpu6Kd-56LkSw-5wR4A4-5nT6ZB-5QWYwn-6KXm6w-7uBEy2-4nQ5ZZ-tkxBr-611Y4y-5ZWKuX-5ZWKEc-5ZWKmF-6PtBGH-nWqnN-6A835P-6JtQkY-7v8GaL" 
		   title="pollo asado con verdura salteada">
			<img src="https://farm4.staticflickr.com/3552/3324946746_b7fe4105dc_b.jpg" 
				 alt="pollo asado con verdura salteada">
		</a>
	</div>
	<div class='dishData'>
		<div class='dishType'><strong>Tipo </strong>Segundo plato</div>
		<div class='dishCategories'>
			<strong>Categorias</strong>
			<ul>
				<li class="tag">Carne</li>
				<li class="tag">Asado</li>
			</ul>
		</div>
		<div class='dishDescription'>
			<strong>Descripción</strong>
			<p>Pollo asado en un asador rotatorio acompañado de verdura salteada</p>
		</div>
		<div class='dishComponents'>
			<strong>Componentes</strong>
			<ul>
				<li class="tag">Pollo</li>
				<li class="tag">Limón</li>
				<li class="tag">Tomillo</li>
				<li class="tag">Romero</li>
				<li class="tag">Cebolla</li>
				<li class="tag">Puerro</li>
				<li class="tag">Pimiento</li>
			</ul>
		</div>
		<div class='dishAllergenics'>
			<strong>Alérgenos</strong>
			<ul>
				<li class="tag">Tomillo</li>
			</ul>
		</div>
		<div class='dishPricing'>
			<strong>Precios</strong>
			<div>
				<span>Base</span>
				<span>12.45€</span>
			</div>
			<div>
				<span>Guarnición de patatas</span>
				<span>+0.95€</span>
			</div>
		</div>
		<div class='dishGallery'>
			<strong>Galería</strong>
			<a data-flickr-embed="true"
			   href="https://www.flickr.com/photos/xurde/3324946746/in/photolist-64PdQ3-bzSFax-bzSF5x-bmXQmu-bYHTB7-3KuSy-3KuS9-For9C-j52gDm-5re19j-64PbDb-6b55qT-7s277X-aVrqWR-6tTBpo-5CrLG6-4Lz3TV-4Lz3gX-2Rpgas-6tPsuH-5wUqBo-3ivLu4-ForKr-For8Q-5XjuEZ-71j8Je-7k3WLm-6AgGnz-5nw26N-qGHNJe-qZ9FHH-bpu6tb-bpu6Kd-56LkSw-5wR4A4-5nT6ZB-5QWYwn-6KXm6w-7uBEy2-4nQ5ZZ-tkxBr-611Y4y-5ZWKuX-5ZWKEc-5ZWKmF-6PtBGH-nWqnN-6A835P-6JtQkY-7v8GaL" 
			   title="pollo asado con verdura salteada">
				<img src="https://farm4.staticflickr.com/3552/3324946746_b7fe4105dc_b.jpg" 
					 alt="pollo asado con verdura salteada">
			</a>
		</div>
	</div>
<% } %>

